task8/src/main/resources/data/devices.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.training.by/devices"
        xmlns:tns="http://www.training.by/devices">
<element name="devices">
    <complexType>
        <sequence>
            <element name="device" type="tns:Device"/>
        </sequence>
    </complexType>
</element>
<complexType name="Device">
    <sequence>
        <element name="name" type="string"/>
    </sequence>
</complexType>
